.product{
    display:flex;
    margin:10px;
    border-bottom:1px solid lightgray;
    
}
.product img{
    margin-right:20px;
}
.regular-btn{
    background-color: goldenrod;
    width:150px;
    height:25px;
    border:1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}
.icon-color{
    color:gold;
}